[general]
state_file= /var/awslogs/state/agent-state

[/var/log/cloud-init.log]
file = /var/log/cloud-init.log
log_group_name = {{log_group}}
log_stream_name = {{instance_id.content}}/cloud-init.log
datetime_format =

[/var/log/cloud-init-output.log]
file = /var/log/cloud-init-output.log
log_group_name = {{log_group}}
log_stream_name = {{instance_id.content}}/cloud-init-output.log
datetime_format =

[/var/log/cfn-init.log]
file = /var/log/cfn-init.log
log_group_name = {{log_group}}
log_stream_name = {{instance_id.content}}/cfn-init.log
datetime_format =

[/var/log/cfn-hup.log]
file = /var/log/cfn-hup.log
log_group_name = {{log_group}}
log_stream_name = {{instance_id.content}}/cfn-hup.log
datetime_format =

[/var/log/cfn-wire.log]
file = /var/log/cfn-wire.log
log_group_name = {{log_group}}
log_stream_name = {{instance_id.content}}/cfn-wire.log
datetime_format =

[/var/log/httpd]
file = /var/log/httpd/*
log_group_name = {{log_group}}
log_stream_name = {{instance_id.content}}/httpd
datetime_format = %d/%b/%Y:%H:%M:%S